doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title #{curriculum.user.name} | CV Resumen
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css")
        link(rel="stylesheet", href="/static/css/cv.public.css")
        link(rel="stylesheet", href="/static/css/cv.public.print.css", media="print")
    body
        div(class="nonprintable")
            nav(class="ui stackable menu")
                a(class="brand active item" data-tab="first")
                    img(class="ui avatar image" src="/static/uploads/" + curriculum.user.image)
                    span #{curriculum.user.name}
                a(class="item" data-tab="second") Proyectos (#{curriculum.projects.length})
                a(class="item" data-tab="third") Resumen

        div(class="ui middle aligned grid tab active" data-tab="first")
            div(class="column")
                div(class="ui fluid centered small circular image" style="position: relative; top: 75px; z-index: 1;")
                    img(src="/static/uploads/" + curriculum.user.image)
                div(class="ui fluid centered card" style="max-width: 500px; padding-top: 75px; margin-top: 0px;")
                    div(class="center aligned content")
                        span(class="header") #{curriculum.user.name} #{curriculum.user.lastname}
                        div(class="meta")
                            span(class="date") #{curriculum.user.charge}
                        div(class="left aligned description")
                            | #{curriculum.user.description}
                    div(class="center aligned extra content")
                        for reference in curriculum.references
                            a(class="tooltip" target="_blank" data-variation="mini inverted" data-content=reference.name  href=reference.url )
                                i(class="big " + reference.icon + " icon icon-color")

        div(class="ui container tab" style="margin-top : 20px;" data-tab="second")
            div(class="ui stackable centered three cards")
                for project in curriculum.projects
                    div(class="ui card")
                        div(class="content")
                            span(class="header") #{project.name}
                            div(class="description")
                                | #{project.description}
                        div(class="extra content")
                            div(class="ui mini labels")
                                for tech in project.technologies.split(',')
                                    div(class="ui basic label") #{tech}

        div(class="ui stackable grid container tab" style="margin-top : 10px;" data-tab="third")
            div(class="sixteen wide column no-bottom")
                h2(class="ui center aligned header no-bottom")
                    | #{curriculum.user.name} #{curriculum.user.lastname}
                    div(class="sub header")
                        | #{curriculum.user.charge}

                div(class="ui one column grid")
                    div(class="center aligned column")
                        p(class="no-bottom")
                            | #{curriculum.user.address}
                        p(class="no-bottom")
                            b Teléfono :&nbsp;
                            | #{curriculum.user.cellphone}
                        p(class="no-bottom")
                            b Email :&nbsp;
                            | #{curriculum.user.email}
            div(class="row")
                div(class="two wide column")
                    h3(class="ui left aligned header no-bottom") Conocimientos
                div(class="fourteen wide column no-bottom")
                    for skill in curriculum.skills
                        p(class="ui no-bottom")
                            b #{skill.header} :&nbsp;
                            | #{skill.descriptions}
            div(class="row")
                div(class="two wide column")
                    h3(class="ui left aligned header no-bottom") Educacion
                div(class="fourteen wide column no-bottom")
                    for study in curriculum.studies
                        div(class="ui grid")
                            div(class="twelve wide column no-bottom")
                                p(class="ui no-bottom")
                                    b #{study.center}
                                p(class="ui no-bottom")
                                    | #{study.description}
                            div(class="four wide right aligned column no-bottom")
                                p(class="ui no-bottom")
                                    b #{study.start.getFullYear()} - #{study.end.getFullYear()}
            div(class="row")
                div(class="two wide column")
                    h3(class="ui left aligned header no-bottom") Experiencia Laboral
                div(class="fourteen wide column no-bottom")
                    for work in curriculum.works
                        div(class="ui grid")
                            div(class="twelve wide column no-bottom")
                                p(class="ui no-bottom")
                                    b #{work.charge}, #{work.name}
                                ul(style="margin: 0px;")
                                    for description in work.description
                                        li
                                            | #{description.general} Tecnologias Usadas :
                                            br
                                            i #{description.technologies}
                            div(class="four wide right aligned column no-bottom")
                                p(class="ui no-bottom")
                                    b #{work.start.getFullYear()} - #{work.end.getFullYear()}
            div(class="row")
                div(class="two wide column")
                    h3(class="ui left aligned header no-bottom") Curso / Seminario
                div(class="fourteen wide column no-bottom")
                    for award in curriculum.awards
                        div(class="ui grid")
                            div(class="twelve wide column no-bottom")
                                p(class="ui no-bottom")
                                    b #{award.name}
                                p(class="ui no-bottom")
                                    | #{award.center}
                            div(class="four wide right aligned column no-bottom")
                                p(class="ui no-bottom")
                                    b #{award.year.getFullYear()}

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js")
        script(src="/static/js/cv.public.js")
