div(class="ui fixed menu")
    div(class="ui container")
        a(class="item", href="/work") Exp. Laboral #{currentUrl}
        a(class="item", href="/study") Estudios
        a(class="item", href="/skill") Conocimientos
        a(class="item", href="/project") Proyectos
        a(class="item", href="/award") Cursos
        a(class="item", href="/reference") Referencias
        div(class="right menu")
            a(class="ui item" target="_blank" href="/public/cv/" + user.token) Ver CV.
            div(class="ui dropdown menu-dropdown item")
                | #{user.name}
                i(class="dropdown icon")
                div(class="menu")
                    a(class="item" href="/profile") Perfil
                    a(class="item" href="/logout") Cerrar Sesión
