doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title Curriculum Vitae ADMIN
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css")
        link(rel="stylesheet", href="/static/css/admin.css")
        block styles
    body
        include menu.pug
        -function prettyDate(date){
            -var d = date.getDate();
            -d = d < 10 ? '0' + d : d;
            -var m = date.getMonth();
            -m = m < 10 ? '0' + m : m;
            -var y = date.getFullYear();
            -return d + '/' + m + '/'+ y;
        -}
        div(id="maincontent", class="ui main container")
            if message != undefined
                div(class='ui ' + message.class + ' message' id="message-backend")
                    div(class="header") #{message.text}
            div(class="ui segment")
                h3(class="ui block header") #{title}
                block content

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js")
        script(src="/static/js/admin.theme.js")
        if message != undefined
            script
                | setTimeout(function() { $('#message-backend').remove() }, 2000);
        block scripts
