#works-container {
    margin-top: .7em;
}

#works-container .ui.divider {
    margin: 0px;
}

#works-container .ui.icon.button {
    margin-top: -8px;
}

#modal-add-work #container-descriptions .remove-description {
    float: right;
    padding-right: 4px !important;
}

#modal-add-work {
    top: 280px;
}

#modal-remove-work {
    top: 200px;
}
