#frm-general #btn-change-image {
    margin-top: 5px;
}

#frm-general #btnSave {
    display: none;
}

#frm-general #btnCancel {
    display: none;
}

#modal-image-profile {
    top: 250px;
}

.selected-image {
    border: solid red 2px !important;
}
