extends layout/theme.pug

block styles
    link(rel="stylesheet", href="/static/css/admin.award.css")

block content
    a(class="ui teal button" id="btn-add-award") Agregar

    -var awardsString = JSON.stringify(awards);
    input(type="hidden", name="awards" value=awardsString)
    div(class="ui grid" id="awards-container")
        for award in awards
            div(class="eight wide column")
                div(class="ui fluid card")
                    div(class="content")
                        a(class="circular ui tiny right floated blue icon button edit-award" data-id=award.id)
                            i(class="edit icon" )
                        a(class="circular ui tiny right floated red icon button remove-award" data-id=award.id)
                            i(class="remove icon" )
                        div(class="header") #{award.name}
                        div(class="description")
                            p #{award.center}
                    div(class="extra content")
                        span(class="left floated")
                            | Año : #{award.year.getFullYear()}

    div(class="ui modal" id="modal-add-award")
        i(class="close icon")
        div(class="header")
        div(class="content")
            form(class="ui form" method="post" id="frm-add-award")
                div(class="two fields")
                    div(class="field")
                        label(for="txtName") Nombre
                        input(id="txtName" name="name" type="text" placeholder="Nombre")
                div(class="two fields")
                    div(class="field")
                        label(for="txtCenter") Institución
                        input(id="txtCenter" type="text" placeholder="Institución" name="center")
                    div(class="field")
                        label(for="txtYear") Año (Format : yyyy-MM-dd)
                        input(id="txtYear" type="text" placeholder="Fecha Fin" name="year")
        div(class="actions")
            button(class="ui deny red button" type="button") Cancelar
            button(class="ui approve blue button" type="button") Guardar

    div(class="ui modal" id="modal-remove-award")
        i(class="close icon")
        div(class="header")
        div(class="content")
            form(class="ui form" method="post" id="frm-remove-award")
        div(class="actions")
            button(class="ui deny red button" type="button") Cancelar
            button(class="ui approve orange button" type="button") Confirmar
block scripts
    script(src="/static/js/admin.award.js")
