extends layout/theme.pug

block styles
    link(rel="stylesheet", href="/static/css/admin.profile.css")

block content
    div(class="ui top attached tabular menu" id="profile-tab")
        a(class="active item" data-tab="general") Datos Personales
        a(class="item" data-tab="changepassword") Contraseña
        a(class="item" data-tab="template") CV Templates(LaTeX)
    div(class="ui bottom attached active tab segment" data-tab="general")
        form(class="ui form" id="frm-general" method="post" action="/profile")
            div(class="ui grid")
                div(class="three wide column")
                    img(class="ui fluid circular image" id="img-profile" src="/static/uploads/" + currentUser.image)
                    a(class="fluid ui mini orange button" id="btn-change-image") Cambiar Foto perfil
                div(class="thirteen wide column")
                    div(class="two fields")
                        div(class="field")
                            label(for="txtDNI") DNI
                            input(id="txtDNI" name="dni" type="text" placeholder="DNI" value=currentUser.dni readonly)
                        div(class="field")
                            a(class="ui tiny right floated teal button" id="btnEdit")
                                i(class="edit icon")
                                | Editar
                            button(class="ui tiny right floated blue button" id="btnSave")
                                i(class="save icon")
                                | Guardar
                            a(class="ui tiny right floated red button" id="btnCancel")
                                i(class="remove circle icon")
                                | Cancelar
                    div(class="two fields")
                        div(class="field")
                            label(for="txtName") Nombres
                            input(id="txtName" name="name" type="text" placeholder="Nombres" class="text-value" value=currentUser.name readonly)
                        div(class="field")
                            label(for="txtLastname") Apellidos
                            input(id="txtLastname" name="lastname" type="text" placeholder="Apellidos" class="text-value" value=currentUser.lastname readonly)
                    div(class="three fields")
                        div(class="field")
                            label(for="txtBirthday") Fecha Nacimiento (Format : yyyy-MM-dd)
                            input(id="txtBirthday" type="text" placeholder="Fecha Nacimiento" name="birthday" class="text-value" value=currentUser.birthday readonly)
                        div(class="field")
                            label(for="txtCellphone") Celular
                            input(id="txtCellphone" name="cellphone" type="text" placeholder="Celular" class="text-value" value=currentUser.cellphone readonly)
                        div(class="field")
                            label(for="txtEmail") Correo Electronico
                            input(id="txtEmail" name="email" type="text" placeholder="Correo Electronico" value=currentUser.email readonly)
                    div(class="two fields")
                        div(class="field")
                            label(for="txtAddress") Dirección
                            input(id="txtAddress" name="address" type="text" placeholder="Dirección" class="text-value" value=currentUser.address readonly)
                        div(class="field")
                            label(for="txtCharge") Cargo Actual
                            input(id="txtCharge" name="charge" type="text" placeholder="Cargo Actual" class="text-value" value=currentUser.charge readonly)
                    div(class="field")
                        label(for="txtDescription") Descripción
                        textarea(id="txtDescription" name="description" placeholder="Descripción" class="text-value" readonly)
                            | #{currentUser.description}
    div(class="ui bottom attached tab segment" data-tab="changepassword")
        form(class="ui form" id="frm-changepassword" method="post" action="/changepassword")
            div(class="two fields")
                div(class="field")
                    label(for="txtCurrentPassword") Contraseña Actual
                    input(type="password" id="txtCurrentPassword" name="currentpassword")
                div(class="field")
                    button(class="ui tiny right floated blue button")
                        i(class="save icon")
                        | Guardar
            div(class="two fields")
                div(class="field")
                    label(for="txtNewPassword") Nueva Contraseña
                    input(type="password" id="txtNewPassword" name="newpassword")
            div(class="two fields")
                div(class="field")
                    label(for="txtRepeatPassword") Repetir Contraseña
                    input(type="password" id="txtRepeatPassword" name="repeatpassword")
    div(class="ui bottom attached tab segment" data-tab="template")
        | CV Templates(LaTeX)

    div(class="ui modal" id="modal-image-profile")
        i(class="close icon")
        div(class="header") Seleccionar foto del perfil
        div(class="content")
            div(class="ui top attached tabular menu" id="tab-photos")
                a(class="ui active item" data-tab="new") Subir fotos
                a(class="ui item" data-tab="allphotos") Tus fotos
            div(class="ui bottom attached active tab center aligned segment" data-tab="new")
                form(class="ui form" method="post" id="frm-new-photo" action="/changeimageprofile" enctype="multipart/form-data")
                    input(type="hidden", name="title" id="img-title")
                    div(class="field")
                        label Seleccionar foto perfil
                        input(type="file" id="img-input-file" name="imageprofile")
                    div(class="field" style="display:none;")
                        img(class="ui image" src="#" id="img-uploaded" style="display: inline-block;")
            div(class="ui bottom attached tab segment" data-tab="allphotos")
                div(class="ui four column grid")
                    for photo in allphotos
                        div(class="column")
                            div(class="ui fluid card")
                                div(class="image")
                                    img(src="/static/uploads/" + photo.name)
                                div(class="ui bottom attached button select-image" data-name=photo.name)
                                    i(class="add icon")
                                    | Seleccionar

        div(class="actions")
            button(class="ui deny red button" type="button") Cancelar
            button(class="ui approve blue button" type="button") Establecer como foto de perfil

block scripts
    script(src="/static/js/admin.profile.js")
