extends layout/theme.pug

block styles
    link(rel="stylesheet", href="/static/css/admin.project.css")

block content
    a(class="ui teal button" id="btn-add-project") Agregar

    -var projectsString = JSON.stringify(projects);
    input(type="hidden", name="projects" value=projectsString)
    div(class="ui grid" id="projects-container")
        for project in projects
            div(class="eight wide column")
                div(class="ui fluid card")
                    div(class="content")
                        a(class="circular ui tiny right floated blue icon button edit-project" data-id=project.id)
                            i(class="edit icon" )
                        a(class="circular ui tiny right floated red icon button remove-project" data-id=project.id)
                            i(class="remove icon" )
                        div(class="header") #{project.name}
                        div(class="description")
                            p
                                | #{project.description} Tecnologias Usadas :
                                br
                                i - #{project.technologies}
                    div(class="extra content")
                        span(class="right floated")
                            a(href=project.url target="blank") Ver proyecto.

    div(class="ui modal" id="modal-add-project")
        i(class="close icon")
        div(class="header")
        div(class="content")
            form(class="ui form" method="post" id="frm-add-project")
                div(class="two fields")
                    div(class="field")
                        label(for="txtName") Nombre
                        input(id="txtName" name="name" type="text" placeholder="Nombre")
                    div(class="field")
                        label(for="txtUrl") URL
                        input(id="txtUrl" name="url" type="text" placeholder="URL")
                div(class="field")
                    label(for="txtDescription") Descripción
                    textarea(id="txtDescription" placeholder="Descripción" name="description")
                div(class="field")
                    label(for="txtTechnologies") Tecnologias
                    textarea(id="txtTechnologies" placeholder="Descripción" name="technologies")
        div(class="actions")
            button(class="ui deny red button" type="button") Cancelar
            button(class="ui approve blue button" type="button") Guardar

    div(class="ui modal" id="modal-remove-project")
        i(class="close icon")
        div(class="header")
        div(class="content")
            form(class="ui form" method="post" id="frm-remove-project")
        div(class="actions")
            button(class="ui deny red button" type="button") Cancelar
            button(class="ui approve orange button" type="button") Confirmar
block scripts
    script(src="/static/js/admin.project.js")
