extends layout/theme.pug

block styles
    link(rel="stylesheet", href="/static/css/admin.reference.css")

block content
    a(class="ui teal button" id="btn-add-reference") Agregar

    -var referencesString = JSON.stringify(references);
    input(type="hidden", name="references" value=referencesString)
    div(class="ui grid" id="references-container")
        for reference in references
            div(class="eight wide column")
                div(class="ui fluid card")
                    div(class="content")
                        a(class="circular ui tiny right floated blue icon button edit-reference" data-id=reference.id)
                            i(class="edit icon" )
                        a(class="circular ui tiny right floated red icon button remove-reference" data-id=reference.id)
                            i(class="remove icon" )
                        div(class="header") #{reference.name} (#{reference.kind.replace(/\b\w/g, l => l.toUpperCase())})
                    div(class="extra content")
                        span(class="left floated")
                            i(class=reference.icon + " icon")
                            a(href=reference.url target="blank") Ver perfil.

    div(class="ui modal" id="modal-add-reference")
        i(class="close icon")
        div(class="header")
        div(class="content")
            form(class="ui form" method="post" id="frm-add-reference")
                div(class="two fields")
                    div(class="field")
                        label(for="txtName") Nombre
                        input(id="txtName" name="name" type="text" placeholder="Nombre")
                    div(class="field")
                        label(for="txtUrl") URL
                        input(id="txtUrl" name="url" type="text" placeholder="URL")
                div(class="two fields")
                    div(class="field")
                        label(for="cboTipo") Tipo
                        select(id="cboTipo" class="ui dropdown" name="kind")
                            option(value="profesional") Profesional
                            option(value="social") Social
                    div(class="field")
                        label(for="txtIcon") Icono
                        input(id="txtIcon" type="text" name="icon")

        div(class="actions")
            button(class="ui deny red button" type="button") Cancelar
            button(class="ui approve blue button" type="button") Guardar

    div(class="ui modal" id="modal-remove-reference")
        i(class="close icon")
        div(class="header")
        div(class="content")
            form(class="ui form" method="post" id="frm-remove-reference")
        div(class="actions")
            button(class="ui deny red button" type="button") Cancelar
            button(class="ui approve orange button" type="button") Confirmar
block scripts
    script(src="/static/js/admin.reference.js")
