doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title Curriculum Vitae ADMIN
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css")
        link(rel="stylesheet", href="/static/css/admin.login.css")
    body
        div(class="ui middle aligned center aligned grid")
            div(class="column")
                h2(class="ui block teal header") Iniciar sesión
                form(class="ui large form" method="post" action="/signin")
                    div(class="ui stacked segment")
                        div(class="field")
                            div(class="ui left icon input")
                                i(class="user icon")
                                input(type="text" name="email" placeholder="Correo Electronico")
                        div(class="field")
                            div(class="ui left icon input")
                                i(class="lock icon")
                                input(type="password" name="password" placeholder="Contraseña")
                        button(class="ui fluid large teal submit button") Login
                    if (messages.length > 0)
                        div(class="ui red message")
                            div(class="header") Errores :
                            ul(class="list")
                            for message in messages
                                li= message

                div(class="ui message") No tienes cuenta ? &nbsp;
                    a(href="/signup") Registrarse

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js")
