extends layout/theme.pug

block styles
    link(rel="stylesheet", href="/static/css/admin.skill.css")

block content
    a(class="ui teal button" id="btn-add-skill") Agregar

    -var skillsString = JSON.stringify(skills);
    input(type="hidden", name="skills" value=skillsString)
    div(class="ui grid" id="skills-container")
        for skill in skills
            div(class="eight wide column")
                div(class="ui fluid card")
                    div(class="content")
                        a(class="circular ui tiny right floated blue icon button edit-skill" data-id=skill.id)
                            i(class="edit icon" )
                        a(class="circular ui tiny right floated red icon button remove-skill" data-id=skill.id)
                            i(class="remove icon" )
                        div(class="header") #{skill.header}
                        div(class="description")
                            p #{skill.descriptions}

    div(class="ui modal" id="modal-add-skill")
        i(class="close icon")
        div(class="header")
        div(class="content")
            form(class="ui form" method="post" id="frm-add-skill")
                div(class="two fields")
                    div(class="field")
                        label(for="txtHeader") Tipo (Cabecera)
                        input(id="txtHeader" name="header" type="text" placeholder="Tipo Cabecera")
                div(class="field")
                    label(for="txtDescription") Descripción
                    textarea(id="txtDescription" placeholder="Descripcion" name="descriptions")
        div(class="actions")
            button(class="ui deny red button" type="button") Cancelar
            button(class="ui approve blue button" type="button") Guardar

    div(class="ui modal" id="modal-remove-skill")
        i(class="close icon")
        div(class="header")
        div(class="content")
            form(class="ui form" method="post" id="frm-remove-skill")
        div(class="actions")
            button(class="ui deny red button" type="button") Cancelar
            button(class="ui approve orange button" type="button") Confirmar
block scripts
    script(src="/static/js/admin.skill.js")
