extends layout/theme.pug

block styles
    link(rel="stylesheet", href="/static/css/admin.study.css")

block content
    a(class="ui teal button" id="btn-add-study") Agregar

    -var studiesString = JSON.stringify(studies);
    input(type="hidden", name="studies" value=studiesString)
    div(class="ui grid" id="studies-container")
        for study in studies
            div(class="eight wide column")
                div(class="ui fluid card")
                    div(class="content")
                        a(class="circular ui tiny right floated blue icon button edit-study" data-center=study.center)
                            i(class="edit icon" )
                        a(class="circular ui tiny right floated red icon button remove-study" data-center=study.center)
                            i(class="remove icon" )
                        div(class="header") #{study.center}
                        div(class="description")
                            p #{study.description}
                    div(class="extra content")
                        span(class="left floated")
                            | #{prettyDate(study.start)} - #{prettyDate(study.end)}

    div(class="ui modal" id="modal-add-study")
        i(class="close icon")
        div(class="header")
        div(class="content")
            form(class="ui form" method="post" id="frm-add-study")
                div(class="two fields")
                    div(class="field")
                        label(for="txtCenter") Centro de Estudios
                        input(id="txtCenter" name="center" type="text" placeholder="Centro de Estudios")
                div(class="two fields")
                    div(class="field")
                        label(for="txtStart") Fecha Inicio (Format : yyyy-MM-dd)
                        input(id="txtStart" type="text" placeholder="Fecha Inicio" name="start")
                    div(class="field")
                        label(for="txtEnd") Fecha Fin (Format : yyyy-MM-dd)
                        input(id="txtEnd" type="text" placeholder="Fecha Fin" name="end")
                div(class="field")
                    label(for="txtDescription") Descripción
                    textarea(id="txtDescription" placeholder="Descripcion" name="description")
        div(class="actions")
            button(class="ui deny red button" type="button") Cancelar
            button(class="ui approve blue button" type="button") Guardar

    div(class="ui modal" id="modal-remove-study")
        i(class="close icon")
        div(class="header")
        div(class="content")
            form(class="ui form" method="post" id="frm-remove-study")
        div(class="actions")
            button(class="ui deny red button" type="button") Cancelar
            button(class="ui approve orange button" type="button") Confirmar
block scripts
    script(src="/static/js/admin.study.js")
