extends layout/theme.pug

block styles
    link(rel="stylesheet", href="/static/css/admin.work.css")

block content
    a(class="ui teal button" id="btn-add-work") Agregar
    -var worksString = JSON.stringify(works);
    input(type="hidden", name="works" value=worksString)
    div(class="ui grid" id="works-container")
        for work in works
            div(class="eight wide column")
                div(class="ui fluid card")
                    div(class="content")
                        a(class="circular ui tiny right floated blue icon button edit-work" data-name=work.name)
                            i(class="edit icon" )
                        a(class="circular ui tiny right floated red icon button remove-work" data-name=work.name)
                            i(class="remove icon" )
                        div(class="header") #{work.name}
                        div(class="description")
                            for description in work.description
                                p
                                    i(class="selected radio icon")
                                    | #{description.general} Tecnologias Usadas :
                                    br
                                    i - #{description.technologies}
                                div(class="ui divider")
                    div(class="extra content")
                        span(class="left floated")
                            | #{prettyDate(work.start)} - #{prettyDate(work.end)}
                        span(class="right floated")
                            | #{work.charge}

    div(class="ui modal" id="modal-add-work")
        i(class="close icon")
        div(class="header general-header")
        div(class="content")
            form(class="ui form" method="post" id="frm-add-work")
                div(class="two fields")
                    div(class="field")
                        label(for="txtName") Razon Social
                        input(id="txtName" name="name" type="text" placeholder="Razon Social")
                    div(class="field")
                        label(for="txtCharge") Cargo
                        input(id="txtCharge" name="charge" type="text" placeholder="Cargo")
                div(class="two fields")
                    div(class="field")
                        label(for="txtStart") Fecha Inicio (Format : yyyy-MM-dd)
                        input(id="txtStart" type="text" placeholder="Fecha Inicio" name="start")
                    div(class="field")
                        label(for="txtEnd") Fecha Fin (Format : yyyy-MM-dd)
                        input(id="txtEnd" type="text" placeholder="Fecha Fin" name="end")
                h4(class="ui header")
                    | Descripcion
                    a(class="ui tiny teal label" id="btn-add-descriptions") Agregar
                div(id="container-descriptions")
        div(class="actions")
            button(class="ui deny red button" type="button") Cancelar
            button(class="ui approve blue button" type="button") Guardar

    div(class="ui modal" id="modal-remove-work")
        i(class="close icon")
        div(class="header")
        div(class="content")
            form(class="ui form" method="post" id="frm-remove-work")
        div(class="actions")
            button(class="ui deny red button" type="button") Cancelar
            button(class="ui approve orange button" type="button") Confirmar

block scripts
    script(src="/static/js/admin.work.js")
